﻿.Menu
{  	
	/*background:transparent url(blueslate_background.gif) repeat-x;  */
    background-color: #002f5d;
    text-align:center ;   
    border: solid 0px #fff !important;
}


.menuhover
{	
	color:#fff;
    /*background:transparent url(blueslate_background.gif) repeat-x;   */
    background-color: #002f5d;
	border: solid 0px #fff !important;	    
    /*color:Black;    */
 }
 
 .parent_menu
    {
		/*background:transparent url(blueslate_background.gif) repeat-x;*/
        background-color: #002f5d;
        color: White;
        text-align: center;
        font-size:16px;
        height: 25px;
        padding-right: 5px;         
        font-weight:bold;

    }
    .child_menu
    {
		background-color:Black; 
		border: solid 0px #fff !important;	
		font-size:16px;
		font-family :Calibri; 
		color:White;           
    }
   .sub_menu
        {
		/*background:transparent url(blueslate_background.gif) repeat-x;*/
        background-color: #002f5d;
		border: solid 0px #fff !important;			
		color:White;   
        text-align: left;
        height: 30px;
        line-height: 30px;
        padding-left:5px;
        padding-right:5px;
        font-weight:bold; 
        font-family :Calibri; 
        font-size:16px;
        }
	.selected_menu
    {		
		background-color: #ce4040;        
		font-family :Calibri; 
    }
    .hover_menu
    {
		/*background:transparent url(blueslate_background1.gif) repeat-x;*/
        background-color:#ce4040;
		border: solid 0px #ffffff !important;	
		
        color:Black;        
        font-family :Calibri; 
        font-size:16px;
        
    }
