﻿/*GridView Style - my customize
.mGrid { width: 100%; background-color: White; margin: 5px 0 10px 0; border: solid 0px #525252; border-collapse:collapse; }
    .mGrid td { padding: 2px;text-align:left; border-right: solid 1px black; color: Black;font-size:12px;font-family:Arial; }
    
    .mGrid th { padding: 4px 2px; color: #fff; border-left: solid 1px black; font-size: 10px;color:Black;font-weight:bold; }
.mGrid .alt {background-color:Gray; }
.mGrid .pgr {color:White;text-decoration:none; }
    .mGrid .pgr table { margin: 5px 0; }
    .mGrid .pgr td { border-width: 0; padding: 0 6px; border-left: solid 1px #666; font-weight: bold; color: white; line-height: 25px; }   
    .mGrid .pgr a { color: white; text-decoration: none; }
    .mGrid .pgr a:hover { color: red; text-decoration: none; }
    
*/


	.body,html 
	{
        min-height: 100%;
        margin: 0;
        padding: 0;       
    }    
    
    
    .content
	{
		clear:both;
		  width: 950px;
		  position:relative;
		  min-height:330px;
	}
	.footer
	{
		position:relative;
		height: 5em;
		margin-bottom:-5em;
		/* bottom:3px;
		z-index:05px;
		margin-top:-5em; */
		background-image:url('bg_footer111.gif');
		background-repeat:no-repeat;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 10px;
		font-weight: bold;
		color:#FFFFFF;
		left:5px;
		right:-5px;
		width: 982px;	 
	}
    

	.mGrid { background-color: #fff; margin: 5px 0 10px 0; 
border: solid 1px #525252; border-collapse:collapse; }
    .mGrid td { padding: 2px; border: solid 1px #c1c1c1; color: #000000;font-size :12px;font-family:Arial;vertical-align:top; }
    .mGrid th { padding: 4px 2px; color: #fff; background: #424242 url(grd_head.png) repeat-x top; border-left: solid 1px #525252; font-size: 12px;font-family:Calibri;vertical-align:top;}
	.mGrid .alt { background: #fcfcfc url(grd_alt.png) repeat-x top;font-family:Calibri;font-size:12px; }
	.mGrid .pgr {background: #424242 url(grd_pgr.png) repeat-x top; }
    .mGrid .pgr table { margin: 5px 0; }
    .mGrid .pgr td { border-width: 0; padding: 0 6px; border-left: solid 1px #666; font-weight: bold; color: #fff; line-height: 12px; }   
    .mGrid .pgr a { color: #666; text-decoration: none;background-color:White ; }
    .mGrid .pgr a:hover { color: red; text-decoration: none; }
    .mGrid .th a { color: Maroon; text-decoration: none;background-color:White ;font-weight:normal ;}
    .mGrid .th a:hover { color: #000000; text-decoration:underline ;font-weight:bold;   }
    
    /*Datagrid css*/
    .mData { width: 100%; background-color: #fff; margin: 5px 0 10px 0; border: solid 0px #525252; border-collapse:collapse; }
    .mDatatd  {text-align:left; border: solid 1px #c1c1c1; color: #000000;height:10px;font-family:Arial;font-size:12px;vertical-align:top;}    	
    .mDatath { text-align:center;padding: 14px; color: #fff; background: #424242 url(grd_head.png) repeat-x top; border-left: solid 2px #525252;border-right: solid 2px #525252; border-top: solid 2px #525252;  font-size: 13px; font-weight:bold;height:20px;font-family:Calibri;vertical-align:top;}    
    .mDataalt {text-align:left; background: #fcfcfc url(grd_alt.png) repeat-x top;font-family:Calibri;font-size:13px;height:10px;border-left: solid 1px #525252;border-right: solid 1px #525252;padding-left:10px;vertical-align:top; }
    .mDataa { color: Blue; text-decoration: underline; }
    .mDataa:hover { color: #c41230; text-decoration: none; }
	/* End */
	
	
	
	.mGrid1 { width: 100%; background-color: #ffffcc; margin: 5px 0 10px 0; border: solid 1px #525252; border-collapse:collapse; }
	.mGrid1 td { padding: 1px;text-align:left; border: solid 0px #c1c1c1; color: #636363;font-size:11px;font-family:Verdana;font-weight:bold; }    
    .mGrid1 th {  border: solid 1px black; font-size:12px;padding:2px; font-weight:bold;color: white;font-size:11px;font-family:Verdana;}    
	
    


.Tablecorners {
   border-radius: 5px 5px 15px 15px;    
    border: 2px solid #73AD21;
    background-color:#E6E6FA;
     
}

.Tablecorners_New {
   border-radius: 5px 5px 5px 5px;    
    border: 2px solid #D4D4D4;
    background-color:#ffffff;     
}

.Css_Title
 {
	text-align:center;	
	color:#483D8B;
	font-weight:bold;
	font-family:Calibri;
	font-size:14px;		
 }
 
 .Css_Title1
 {
	text-align:left ;	
	color:#483D8B;
	font-weight:bold;
	font-family:Calibri;
	font-size:14px;		
 }
	  

.link { color:Maroon; text-decoration: underline;font-size:15px;font-family:Calibri;font-weight:bold }
.link:hover { color: black; text-decoration: none; }
    
.link1 { color:White; text-decoration: underline;font-size:11px;font-family:Calibri;font-weight:bold }
.link1:hover { color:Yellow; text-decoration: none; }

.link_New { color:Black; text-decoration: underline;font-size:13px;font-family:Calibri;font-weight:bold }
.link_New:hover { color:Maroon; text-decoration: none; }

.linklbl { color:White; font-size:11px;font-family:Calibri;font-weight:bold }
.linkHome { color:Maroon; text-decoration: none;font-size:13px;font-family:Calibri;font-weight:bold }
    
.tableCss
{
	border:solid 2px #eeeeee;	
    margin: 0 auto; 
    
}   
 .tableHeaderCss
{
	background-color:#6d6f72;
	font-family:Calibri;
	color:White; 
}
 
.tableCss_Model
{
	border:solid 2px Gray;
	background-color:Scrollbar;
}   
  .tableHeaderCss_Model
{
	background-color:Gray;
}
  .tableHeaderCss_Model1
 {
	background-color:#62ACF8;
	border:solid 2px #424242;
 }
 .tableHeaderCss_lblCss
 {
	padding:2px; 
	height :20px;	
	text-align:center;	
	color:White;
	font-weight:bold;	
    border-top :1px solid #ffffff;
	font-size:14px;		
	background-color:#292c90;
	font-family:Calibri;		
 }
 .lblCss
 {
	text-align:center;	
	color:White;
	font-weight:bold;
	font-family:Calibri;
	font-size:15px;			
 }
 .lblCss5
 {
	text-align:center;	
	color:Black;
	font-weight:bold;
	font-family:Calibri;
	font-size:16px;	
	padding:20px;
	text-decoration:underline;
 }
 .lbpanel
 {
	text-align:left;
	padding-left:10px;	
	color:White;	
	font-family:Calibri;
	font-size:12px;	
	height:20px;
	background-image:url('../Images/bg_nav.gif');
	
	}
 
.lblCss2 /*for model pop up extender*/
 {
	text-align:center;	
	color:White;
	font-weight:bold;
	font-family:Calibri;
	font-size:14px;			
 }
 
 .lblCss1
 {
	text-align:center;	
	color:#000000;
	font-weight:bold;
	font-family:Calibri;
	font-size:13px;	
	text-align:left;
	background-color:White;
	}
.buttoncss_OLD
{	background-color:#c0c0c0;
	/*color:#555555;*/
	color:#000000;
	height:25px;
	font-family:Calibri;
	font-weight:bold;
	font-size:11px;
	text-decoration:none;	
}
.Disablbuttoncss
{	background-color:#ffffff;
	/*color:#555555;*/
	color:GrayText;
	height:25px;border:solid 1px GrayText;
	font-family:Calibri;
	font-weight:bold;
	font-size:11px;
	text-decoration:none;	
}

.buttoncss1
{	background-color:White;
	/*color:#555555;*/
	color:#000000	;
	height:27px;
	font-family:Calibri;
	font-weight:bold;
	font-size:11px;
	text-decoration:none;	
}

.buttoncss2
{	background-color:#c0c0c0;
	width:90px;
	color:#000000;
	height:25px;
	font-family:Calibri;
	font-weight:bold;
	font-size:11px;
	text-decoration:none;	
}

.text_Title
{
	text-align:center;	
	color:#000066;
	font-weight:bold;
	font-family:Calibri;
	font-size:14px;	
	position:relative;
	padding:3px;
}

.text_login
{
	text-align:center;	
	color:Red;
	font-weight:bold;
	font-family:Calibri;
	font-size:14px;	
	position:relative;
	padding:3px;
}
.text
{
	text-align:right;	
	color:#555555;
	font-weight:bold;
	font-family:Arial;
	font-size:11px;
	position:relative;
	padding-right:10px;	
	vertical-align:top;
}
.text_ListBox	
{
	text-align:left;	
	color:#555555;
	font-weight:bold;
	font-family:Calibri;
	font-size:11px;
	position:relative;
	padding-left:10px;	
	vertical-align:top;
}
.text_new
{
	text-align:left;	
	color:#000000;
	font-weight:bold;	
	font-family:Calibri;
	font-size:13px
.text_new
{
	text-align:left;	
	color:#000000;
	font-weight:bold;	
	font-family:Calibri;
	font-size:13px;
	position:relative;
	padding-left:10px;	
	vertical-align:top;
    top: 291px;
    left: 0px;
    height: 21px;
    width: 230px;
}

	padding-left:10px;	
	vertical-align:top;
	
	
}



.text_LeftPad
{
	text-align:left;	
	color:#555555;
	font-weight:bold;
	font-family:Calibri;
	font-size:11px;
	position:relative;
	padding-left:15px;
}


.text_new_normal
{
	text-align:left;	
	color:#555555;	
	font-family:Calibri;
	font-size:12px;
	position:relative;
	padding-left:10px;
	vertical-align:top;
}
.textArea
{
	text-align:left;	
	color:#555555;
	font-weight:bold;
	font-family:Calibri;
	font-size:12px;
	border-radius: 5px;
    border: 2px solid #292c90;
}

.CheckBox
{
	text-align:left;	
	color:#555555;
	font-weight:bold;
	font-family:Calibri;
	font-size:11px;
}

.DivCheckBox
{
	text-align:left;	
	color:#555555;
	font-weight:bold;
	font-family:Calibri;
	font-size:8px;
}

.DropDownCss{width:200px;font-family:Arial;font-size:12px;color:Blue;border-radius: 3px;height:20px}
.DropDownCss1{width:100px;font-family:Arial;font-size:12px;color:Blue;border-radius: 3px; height:20px}
.DropDownCssM{width:150px;font-family:Arial;color:Blue;font-size:12px;border-radius: 3px ;height:20px}
.Radiocss
{
	text-align:left;	
	color:#000066;		
	font-family:Arial;
	font-size:12px;	
	padding-left:5px;	
}
.Radiocss1
{
	text-align:left;	
	color:white;		
	font-family:Arial;
	font-size:12px;	
	padding-left:1px;	
}
.TextBox_Css
{	
	font-family:Arial;
	font-size:12px;
	border-radius: 3px;
    border: 2px solid #E6E6E6;
}

.TextBoxCss_small
{
	width:50px;
	font-family:Arial;
	font-size:12px;
	border-radius: 3px;
    border:

.TextBoxCss_small
{
	font-family:Arial;
	font-size:12px;
	border-radius: 3px;
    border: 2px solid #E6E6E6;
}
 
5px;
    border: 2px solid #E6E6E6;
}
.TextBoxCss_Medium
{
	width:150px;
	font-family:Arial;
	font-size:12px;
	border-radius: 3px;
    border: 2px solid #E6E6E6;
}
.TextBoxCss_Large
{
	width:200px;
	font-family:Arial;
	font-size:12px;
	border-radius: 3px;
    border: 2px solid #E6E6E6;
}


/*New CSS for Honeywell*/

.tdBackground{background-color:white;}

.gridFooter{color:White;font-weight:bold;font-family:Calibri;font-size:15px;text-align:justify;}


.roundedPanel
{	
	width:300px;
	background-color:#5377A9;
	color:white;
	font-weight:bold;
}



/*AutoComplete flyout */

.autocomplete_completionListElement 
{  
	margin : 0px;
	background-color : red;
	color : Black;
	font-family:Calibri;
	font-size:11px;		
	cursor : 'default';
	overflow : auto;	
    text-align : left; 
    height:100px;    
}
/* AutoComplete highlighted item */
.autocomplete_highlightedListItem
{	
	color: black;
	padding: 1px;
}
/* AutoComplete item */
.autocomplete_listItem 
{	
	color : Black;
	padding : 1px;
}

.commenthidden {display:none}
.commentshown {display:inline}

.gvFixedHeader 
{ 
 font-weight:bold; 
 position:relative; 
 background-color:Red; 
} 



/*PayRoll*/
.Text1 /*textbox*/
{
	width:70px;
	font-family:Calibri;
	font-size:11px;
}
.Text2 /*textbox*/
{
	width:100px;
	font-family:Calibri;
	font-size:10px;
}
.PayTextBox_Large
{
	width:150px;
	font-family:Calibri;
	font-size:10px;
}
.Pddl
{
	width:55px;font-family:Calibri;font-size:11px;color:#555555;
}
.Radiocss2
{
	text-align:left;	
	color:#555555;		
	font-family:Arial;
	font-size:11px;	
	padding-left:3px;	
}
.text_Title1
{
	text-align:left;	
	color:#555555;
	font-weight:bold;
	font-family:Calibri;
	font-size:12px;	
	position:relative;
	padding-top:5px;	
	padding-bottom:5px;
}
.payroll_text
{
	text-align:left;	
	color:#555555;	
	font-family:Calibri;
	font-size:11px;
	position:relative;
	padding-left:3px;
}

.roundedPanel1
{		
	background-color:White;
	
}
.spanValid
{
	color:Red;font-size:17px;vertical-align:baseline;
}
.lbldirection
{
	color:Red;font-size:11px;vertical-align:baseline;font-family:Calibri;text-align:right;padding:5px;
}


.autocomplete_completionListElement
{
	cursor:pointer;	
    font-size: 11px;    
    padding: 3px 5px;
    border: 1px solid #999;
    background-color: #ffffff;
    width: 300px;
    float: left;
    z-index: 1;
    position:relative;
    margin-left:0px;    
    
}

.autocomplete_highlightedListItem
{
	cursor:pointer;	
    font-size: 11px;
    color:Black;        
    background-color: Yellow;
    width: 300px;
    float: left;
    z-index: 1;
    position:relative;
    margin-left:0px;    
    
}


.modalBackground1
{
    background-color:White;    
} 
.modalPopup 
{
    background-color:#ffffdd; 
    border-width:3px; 
    border-style:solid; 
    border-color:Gray; 
    padding:3px; 
    width:250px; 
}

.textContent
{
	text-align:left;	
	color:#555555;	
	font-family:Calibri;
	font-size:12px;
	position:relative;
	padding-left:3px;		
}

.buttoncss_New
{
/* Sliding right image */
background: transparent url('../Images/Buttons/new1.png') no-repeat scroll top right; 
display: block;
float: left;
height: 12px; /* CHANGE THIS VALUE ACCORDING TO IMAGE HEIGHT */
margin-right: 6px;
padding-right: 20px; /* CHENGE THIS VALUE ACCORDING TO RIGHT IMAGE WIDTH */
/* FONT PROPERTIES */
text-decoration: none;
color: #000000;
font-family: Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
}


.spanpopup
{
	color:white;font-size:13px;vertical-align:baseline;font-family:Calibri;text-align:left;padding:3px;background-color:Blue;
}

.buttoncss{
padding: 2px 3px;
    cursor:pointer;
    border:2px solid #6d6f72;
    color:#ffffff;
    font-weight:bold;
    font-family:Calibri; 
    background:url(../Images/grd_head.png) repeat-x left top;
    height: 29px;
}

.TextBoxCss
{
	border-radius: 3px;
    border: 2px solid #E6E6E6;
    padding-left : 5px;    
    height: 18px;
    font-family:Arial;     
}


/*Ajax cal*/
.cal_Theme1 .ajax__calendar_container   {
    background-color: #e2e2e2; 
    border:solid 1px #cccccc;
    z-index:1000;
}

.cal_Theme1 .ajax__calendar_header  {
    background-color: #ffffff; 
    margin-bottom: 4px;
}

.cal_Theme1 .ajax__calendar_title,
.cal_Theme1 .ajax__calendar_next,
.cal_Theme1 .ajax__calendar_prev    {
    color: #004080; 
    padding-top: 3px;
}

.cal_Theme1 .ajax__calendar_body    {
    background-color: #e9e9e9; 
    border: solid 1px #cccccc;
}

.cal_Theme1 .ajax__calendar_dayname {
    text-align:center; 
    font-weight:bold; 
    margin-bottom: 4px; 
    margin-top: 2px;
}

.cal_Theme1 .ajax__calendar_day {
    text-align:center;
}

.cal_Theme1 .ajax__calendar_hover .ajax__calendar_day,
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_month,
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_year,
.cal_Theme1 .ajax__calendar_active  {
    color: #004080; 
    font-weight: bold; 
    background-color: #ffffff;
}

.cal_Theme1 .ajax__calendar_today   {
    font-weight:bold;
}

.cal_Theme1 .ajax__calendar_other,
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_today,
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_title {
    color: #bbbbbb;


