﻿html
        {
            background-color:white;
        }
        .tabs
        {
            position:relative;
    top: 0px;
    left: 0px;
}
        .tab
        {
            border:solid 1px black;
            background-color:#eeeeee;            
            padding:4px 10px;
            color:White;
            font-family:Verdana;
            font-size:12px;
            font-weight:bold;
            background-image:url("../Images/bg-menu-main.png");
        }
        .selectedTab
        {
			color:Black;
            font-family:Verdana;
            font-size:12px;
            font-weight:bold;
            background-color:white;
            border-bottom:solid 1px black;
            background-image:url("../Images/bg-menu-example.png");
        }
        .tabContents
        {
            border:solid 1px black;
            padding:10px;
            background-color:white;
        }