﻿/*
    Set the Style for parent CSS Class
    of Calendar control
    Parent [CssClass] = myCalendar
*/
.myCalendar {
    background-color: #ffffcc;
    width: 600px;
    height:200px;    
    border-color:Black; 
     font-size:13px;
    font-family:Verdana;
}

/*
    Common style declaration for hyper linked text
*/
.myCalendar a {
    text-decoration: none;
     
}

/*
    Styles declaration for top title
    [TitleStyle] [CssClass] = myCalendarTitle
*/
.myCalendar .myCalendarTitle {
    font-weight: bold;    
    
}

/*
    Styles declaration for date cells
    [DayStyle] [CssClass] = myCalendarDay
*/
.myCalendar td.myCalendarDay {
    border: solid 2px black;   
    
    
}

/*
    Styles declaration for next/previous month links
    [NextPrevStyle] [CssClass] = myCalendarNextPrev
*/
.myCalendar .myCalendarNextPrev {
    text-align: center;    
    
}

.myCalendar .myCalendarNextPrev_New {
    text-align: center;
    background-color:#dddddd;
    
}

/*
    Styles declaration for Week/Month selector links cells
    [SelectorStyle] [CssClass] = myCalendarSelector
*/
.myCalendar td.myCalendarSelector {
    background-color: #dddddd;
    
}

.myCalendar .myCalendarDay a, 
.myCalendar .myCalendarSelector a,
.myCalendar .myCalendarNextPrev a {
    display: block;
    line-height: 18px;
    
    
}

.myCalendar .myCalendarDay a:hover, 
.myCalendar .myCalendarSelector a:hover {
    
    backgraund-color:yellow;
    
}

.myCalendar .myCalendarNextPrev a:hover {
    
    
}