﻿.DynamicMenuItemStyle
{
    font-size: 10px;
    
    border-right-style: solid;
    border-right-color: #585880;
    border-right-width: 2px;        
    border-left-style: solid;
    border-left-color: #585880;
    border-left-width: 2px; 
    border-bottom-style: solid;
    border-bottom-color: #585880;
    border-bottom-width: 2px; 
}
.MenuControlNoHover a:hover
{
    color: #585880;
}